#box-top{	
	background-color:#ffffff;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  -webkit-box-shadow:#555555 0 0px 10px -2px;
  -moz-box-shadow:#555555 0 0px 10px -2px;
  padding: 30px 5px 30px 20px;
	font-size: 20px;
	background-color: #333333;
}

#box-top input[type="submit"], input[type="button"] {
	
	padding-bottom:12px;
  padding-top:12px;
	
}

#search-box{
 text-align: right;
}

#search-button{
  margin-top: 8px;
}

#box-bottom{ 
  background-color:#ffffff;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  -webkit-box-shadow:#555555 0 5px 10px -2px;
  -moz-box-shadow:#555555 0 5px 10px -2px;
   padding: 12px 0px 12px 25px;
	
}

#search-autocomplete-desc{
	font-size: 0.9em;
	font-weight: bold;
}

#search-autocomplete-type{
	font-size: 0.7em;
  color: #cccccc;
	font-weight: bold;
}

.search-autocomplete-item{
  font-size: 14pt;
}

