#toolboxTab{
	  /*padding: 10px;*/
		padding-top: 10px;
		padding-bottom: 10px;
	  position: relative;
    background-color: #ffffff;
    height: 100px;
    border-bottom: 1px solid #EEF0F3;
    font: 12px/150% "Lucida Grande","Lucida Sans Unicode",Verdana,"Jamrul",sans-serif
}


#toolboxTab:hover{
    background-color: #E3E9FF;
}

#toolboxTab h5{
    margin-bottom: 5px;
    font-size: 16px;
}


#toolboxTab ul {
  height:39px;
  list-style:none outside none;
  margin-bottom:5px;
  margin-top:15px;
  overflow:hidden;
	padding-left: 0px;
}
#toolboxTab ul li{
  padding-left: 1px;	
	
}

#score{
    text-align: center;
    font-size: 12px;
    color: #85898F;
    margin-top: 6px;		
}
#scoreNumber{
    font-size: 20px;
    color: #85898F;
}

#edit-links{
  float:left;
  margin-left:10px;\
}

#tools{
    margin-right: 0px;
		margin-left: 10px;
}

#tools ul li{
    display: inline;
    padding-right: 5px;
}
#tools a{
    text-decoration: none;
}

#author{
    color: #85898F
}

#bottom-links{
	position: absolute;
	bottom: 0;
    color: #85898F
}
#thumbUp{
    float:right;
    margin-left:0px;
    padding-left:0px;
}


