#toolboxTab{
	position: relative;
    background-color: #ffffff;
    height: 85px;
    border-bottom: 1px solid #EEF0F3;
    padding: 10px 10px 0px 0px;
    font: 12px/150% "Lucida Grande","Lucida Sans Unicode",Verdana,"Jamrul",sans-serif
}


#toolboxTab:hover{
    background-color: #EEF0F3;
}

#toolboxTab h5{
    margin-bottom: 5px;
    font-size: 16px;
}
#score{
    text-align: center;
    font-size: 12px;
    color: #85898F;
    margin-top: 6px;
    padding-left: 50px;
}
#scoreNumber{
    font-size: 20px;
    color: #85898F;
}

#tools{
    margin-right: 0px;
}

#tools li{
    display: inline;
    padding-right: 5px;
}
#tools a{
    text-decoration: none;
}

#author{
    color: #85898F
}

#bottom-links{
	position: absolute;
	bottom: 0;
    color: #85898F
}
#thumbUp{
    float:right;
    margin-left:0px;
    padding-left:0px;
}
