
/* User Related style */
#userPicture img{
    border: 1px solid black;	
}

#userPicture  img.blank-avatar{
  border: 0px;
}

div.title {
  border-bottom: 1px solid #EEEEEE;
  color: #B5B9C0;
  padding: 3px;
  font-weight: bold;
  width: 240px;
}

div.title_content {
  width: 550px;  
} 
 

.content {
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 10px;
  color: #85898F;
}

#web_life.content a {
  display: block;
}

#noPicture{
    text-align:center;
}


/* ToolBox Related style */

#toolBoxModuleBig {
  margin-top: 0px;
  padding: 5px;
  margin-bottom: 0px;
}

.toolBoxModuleTabular {
  margin-top:10px;
}

.toolBoxModuleTabular #stats {
  background-color: #003366; 
  height: 60px;  
  -moz-border-radius: 10px 0px 0px 10px;
  -webkit-border-radius: 10px 0px 0px 10px;
  padding:10px;
  color: #FFFFFF;
}


#overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
  height: 1000px;
  background-color: #000;
  filter: alpha(opacity=0.8);
  opacity: 0.8;
  display: none;
}

#create-toolbox-inline {
  position: absolute;
  z-index: 100;
  width: 500px;
  height: 220px;
  background-color: #FFFFFF;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 1px solid #666;
  display: none;
  padding: 5px;
}

#create-toolbox-inline-header {
  width: 500px;
  height: 45px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: #5D9FC0;
}

#create-toolbox-inline-header h2 {
  padding-top: 10px;
  color: #FFFFFF;
  padding-top: 7px;
  padding-left: 7px;
}

ul {
  margin-top: 15px;  
  list-style: none;
  margin-bottom: 5px;
}

ul li {
  padding: 0;
}

.toolbar {
  margin-left: 8px; 
}

#toolbox {
  background-color: #DDDDDD;
  -moz-border-radius: 0px 10px 10px 0px;
  -webkit-border-radius: 0px 10px 10px 0px;
  height: 60px;
  padding: 10px;
}

div.title2 {
  border-bottom: 1px solid #EEEEEE;
  color: #B5B9C0;
  font-weight: bold;
	font-size:18px;
	width: 580px;
}







