{% extends "base.html" %}
{% block content %}
{{message}}

<div id="main2" class="span-24 last">
<h1> Share ANYTHING you use to be productive.</h1>
<br />
A general ToolBox might include this:
<br />
<br />
<h3>Daily ToolBox</h3>
<ul>
	<li>IDEs text editors</li>
	<li>Bookmarks organizers</li>
	<li>Where do you keep your cheatsheets?</li>
	<li>Any TODO list software?</li>
	<li>Calendar?</li>
	<li>Brainstorming tools</li>
	<li>Backup software</li>
	<li>Wikis</li>
</ul>

A specific ToolBox might include:
<br />
<br />
<h3>Django Dev ToolBox</h3>

<ul>
    <li>IDEs: Aptana, PyDev, textmate</li>
    <li>Technologies (Django, Python, Apache Lucene, nginx, PylonsHQ, Apache Thrift, etc)</li>
	<li>DBs: SQLLite, BigTable, NoSQL
	<li>Code Review and Management: Git, Github, rietveld</li>
</ul>
</div>

{% endblock %}
