{% extends 'base.html' %}

{% block title %}Search Toolboxes{% endblock %}

{% block css %}
<link rel="stylesheet" href="/media_rsc/css/search.css" type="text/css" media="screen,projection" />
<link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}

<div id="box-top" class="span-24 last">
    <div class="ui-widget span-24 prepend-2 last">
      <form id="search-form" method="post" action="/colorific/search/">
          <div id="search-box" class="span-17">
            <input type="text" name="q" id="id_search_term" maxlength="50" size="60" placeholder="Search by topic or name. Eg: Web Development, Joe Smith, Yelp"/>
            <input type="hidden" name="toolbox_id" id="id_toolbox_id" >
					</div>
          <div id="search-button" class="span-6 last">
            <input type="submit" value="Search"/>
          </div>
      </form>
    </div>
</div>

<div id="box-bottom" class="span-24 last">
  <div id="toolboxes" class="span-13 last">    
		{% if term %}
      <h2>Results for <b>{{term}}</b></h2>
		{% else %}
		  <h2>Results</b></h2>
		{% endif %}
    {% include "display_mixeditems_tabular_picture.html" %} 
  </div>
</div>

{% endblock %}

{% block js %}
<!-- Search Autocomplete -->    
<script src="/media_rsc/js/jquery/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/media_rsc/js/jquery/js/jquery-ui-1.8.4.custom.min.js"></script>
<script src="/media_rsc/js/search_singleterm.js"></script>
<!-- End of Search Autocomplete -->  
{% endblock %}
