{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/media_rsc/css/create_toolbox.css" type="text/css" media="screen,projection" />
<link rel="stylesheet" href="/media_rsc/css/user_detail.css" type="text/css" media="screen,projection" />
{% endblock %}

{% block title %}{{userProfile.user.first_name}}'s Profile{% endblock %}

{% block content %}
<div id="overlay"></div>
<div id="main2" class="span-24 last">
  {{message}}
	<div id="userInfoModule" class="span-8 colborder">
  <img src="http://b.vimeocdn.com/ps/267/267288_300.jpg" />
	<!--<img src="http://www.resizr.com/resized/df81.jpg"/>-->
    <div class="title">TAGS</div>
    <div id="toolBoxModuleBig" class="content">
      <a href="" id="tool">python</a>
      <a href="" id="tool">django</a>
      <a href="" id="tool">google-app-engine</a>
    </div>
    <div class="title">SIMILAR PEOPLE</div>
    <div id="toolBoxModuleBig" class="content">
      <a href="" id="tool">adeleinr</a>
      <a href="" id="tool">oferrer</a>
      <a href="" id="tool">fotingo</a>
    </div>
    <div class="title">WEB LIFE</div>
    <div id="web_life" class="content">
      <a href="//orlandopozo.com">orlandopozo.com</a>
      <a href="//log.orlandopozo.com">log.orlandopozo.com</a>
      <a href="//flickr.com/opozo">flickr.com/opozo</a>
    </div>
    <div class="title">COMMENTS</div>
    <div class="content">
      <div>- This guy knows PHP ;)</div>      
      <div>- This guy is a JavaScript guru</div>
    </div>
  </div>
  <div class="span-13">
    <div class="title title_content">{{userProfile.user.first_name}}'s DESCRIPTION</div>
    <div class="content">
      I have been working in web stuff for several years, you don't need to get certified, you just really need to get your hands dirty, that's the way you learn the web, it's an open platform at the end.  
    </div>
    
    <div class="title title_content">{{userProfile.user.first_name}}'s SETUP</div>
    {% include "display_toolboxes_tabular.html" %}
  </div>
</div>

{% endblock %}
