{% extends "base.html" %}

{% block css %}
<!-- CSS for autocomplete -->
<link type="text/css" href="/media_rsc/js/jquery/css/redmond/jquery-ui-1.8.4.custom.css" rel="stylesheet" /> 
<link rel="stylesheet" href="/media_rsc/css/create_toolbox.css" type="text/css" media="screen,projection" />
<link rel="stylesheet" href="/media_rsc/css/user_detail_main.css" type="text/css" media="screen,projection" />
<link rel="stylesheet" href="/media_rsc/css/user_detail_private.css" type="text/css" media="screen,projection" />
<link rel="stylesheet" href="/media_rsc/css/toolbox.css" type="text/css" media="screen,projection" />
<!-- CSS for freebase -->
<link type="text/css" rel="stylesheet" href="http://freebaselibs.com/static/suggest/1.3/suggest.min.css" />

{% endblock %}

{% block title %}{{userProfile.user.username}}'s Profile{% endblock %}

{% block content %}
<div id="main2" class="span-24 last">
   {{message}}
   <div id="userInfoModule" class="span-4 colborder">   	
			{% if userProfile.picture_url %}
			    <div id="userPicture editButton">
			    	  <div class="editButton">
			    	  	<a href="/colorific/edit_user_picture"><img src="/media_rsc/images/icons_tiny/pencilangled.png"/></a>
							</div>
			        <br/>
							<a href="/colorific/people/{{userProfile.user.username}}"><img width="60%" src="{{ userProfile.picture_url }}"/></a>
			    </div>
			{% else %}
			    <div id="userPicture editButton">
			    	  <div class="editButton"><a href="/colorific/edit_user_picture"><img src="/media_rsc/images/icons_tiny/pencilangled.png"/></a></div>
			        <a href="/colorific/people/{{userProfile.user.username}}"><img width="40%" class="blank-avatar" src="/media_rsc/images/avatar.png"/></a>
			    </div>
			{% endif %}
			<div class="title editButton">TAGS
		    <a href="/colorific/edit_user"><img src="/media_rsc/images/icons_tiny/pencilangled.png"/></a>
		  </div>
		  <div id="toolBoxModuleBig" class="tool content">
		    	{% for tag in userProfile.tags.all %}
		      <a href="/colorific/people_by_tag/{{tag.slug}}">{{tag.name}}</a>
		      {% empty %}
					No tags
					{% endfor %}
		  </div>
		
			<div class="title editButton">INFO
			  <a href="/colorific/edit_user"><img src="/media_rsc/images/icons_tiny/pencilangled.png"/></a>
			</div>
	      <div id="toolBoxModuleBig" class="content">
						<a href="">Basic Info</a> <br/>
            <a href="">Links</a><br/>
      </div>
			<div class="title">ABOUT</div>
			<div id="toolBoxModuleBig" class="content short_content">
				<div class="short_content">
				  My home and work setups are identical: early-2008 octocore Mac Pros, each with two 24" Dell monitors, 6 GB of RAM.
		    </div>
				<a href="">Read More</a>
			</div>
	    <div class="title">SIMILAR PEOPLE</div>
	    <div id="toolBoxModuleBig" class="content">
					{% for user in similar_users %}					 
					  <a href="{{user.get_absolute_public_url}}">
					  {% if user.picture_thumbnail %}
						    <img src="{{user.picture_thumbnail}}"/>
						{% else %}
						    <img src="/media_rsc/images/avatar_tiny.png"/>
						{% endif %}
						</a>  
					{% empty %}
					No one is like you
					{% endfor %}
	    </div>
  </div>
  
  
  <div id="userToolboxModule" class="span-19 last">
    
    <h2>{{userProfile.user.first_name}} {{userProfile.user.last_name}}</h2>

		<div id="setup-pics" class="span-17 last">
			<div class="header1">What does your workspace look like?</div>
      <div id="show-pics" class="span-17 last">
				{% for picture in workspace_pictures %}
	        {{ picture.picture.extra_thumbnails_tag.medium }}
				{% empty %}
				   No pictures
	      {% endfor %}
				<br/>
				<a href="">View All Pictures</a>
			</div>
      <div id="imageUpload-form" class="abutton span-16 last">
       <style>

          .file_input_hidden
          {
	          opacity: 0;         
	          filter: alpha(opacity=0); 
	          -ms-filter: "alpha(opacity=0)"; 
	          -khtml-opacity: 0; 
	          -moz-opacity: 0;
            width: 52px;
            position: absolute; top:0; left:0;
           
          }

       </style>
        <form enctype="multipart/form-data" action="" method="post">
            {{ formset.management_form }}
<!--
            <table>
                {% for form in formset.forms %}
                {{ form }}
                {% endfor %}
            </table>
-->

             <div id="imageUpload-fields" class="span-13 last">
              <div class="span-10">
                <input type="text" id="fileName" size="30" class="file_input_textbox" readonly="readonly"> 
              </div>
              <div class="span-3 last" style="position: relative;">
                 <input type="button" style="background: transparent url(/media_rsc/images/icons_big/camera.png);text-decoration: none;border:none;background-repeat: no-repeat;width: 52px;height: 52px;position: relative;"/>

                <input type="file" name="form-0-picture" id="id_form-0-picture"  class="file_input_hidden" onchange="javascript: document.getElementById('fileName').value = this.value" />
                <input type="hidden" name="form-0-id" id="id_form-0-id" />
              </div>
 
              <div class="span-3 last" style="clear:left">
                <input type = "submit" name="imageSubmit" value="+ Add Photo" />
              </div>
             </div>
           
        </form>

      </div>
		</div>
   
    <div id="add-toolbox"  class="span-17 last">
		    <div class="header1">What tools do you use to be productive?</div>
        <div id="add-toolbox-form">
          <p>Share the tools, sites, business and services that let you be productive.
             <br/><b>Group</b> them in toolboxes. Eg. Web Design Tool: Firebug, MeasureIt, W3C</p>
				  <input type="button" id="create-toolbox" value="+ Add Toolbox" /> 
        </div>
    </div>
	       
    <div id="list-toolboxes" class="span-17 last">
    	<!-- This hidden field is used for refreshing a user's
			     recent toolboxes
			-->
    	<input type="hidden" name="" id="get-toolboxes-username" value="{{userProfile.user}}"/>
      <div class="header1">Your Toolboxes</div>
      {% include "display_toolboxes_tabular_nopicture.html" %}
      <div style="clear: left">
		    <a href="">View All Toolboxes</a>
	    </div>
    </div>
  </div>
	
</div>

<div id="overlay"></div>
<!--Begin Hidden Dialog Form -->
<div id="dialog-form" title="Create New Toolbox">
	<p class="validateTips">All form fields are required.</p>
	<ul>
    <li> 
      <div>
        <label for="id_toolbox_name">
          ToolBox Name. <span class="form-helper"> {{ toolBoxForm.toolbox_name.help_text }}</span>
        </label>
      </div>
      <input type="text" maxlength="100" name="toolbox_name" id="id_toolbox_name" class="text ui-widget-content ui-corner-all">
    </li>
    <li>
      {% if toolBoxForm.toolbox_name.errors %}
        <span class="error">
          {{toolBoxForm.toolbox_name.errors|join:", " }}
        </span>
      {% endif %}
    </li>
    <li>
      <div>
        <label for="id_tools">
          Tools. <span class="form-helper"> {{ toolBoxForm.tools.help_text }}</span>
        </label>
      </div>
      <div id="tools-dropdown">
        <input type="text" size="35" name="tools" maxlength="300" id="id_tools" class="text ui-widget-content ui-corner-all" > 
        <input type="hidden" id="id_toolIDs">
      </div> 
    </li>
    <li>
      {% if toolBoxForm.tools.errors %}
        <span class="error">
          {{toolBoxForm.tools.errors|join:", " }}
        </span>
      {% endif %}
    </li>
  </ul>
  <input id="user-profile-id" type="hidden" value="{{userProfile.id}}" />
</div>
<!--End Hidden Dialog Form -->

{% endblock %}

{% block js %}
<script src="/media_rsc/js/jquery/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.js"></script>
<!-- Libraries needed for freebase -->
<!--<script type="text/javascript" src="http://freebaselibs.com/static/suggest/1.3/suggest.min.js"></script>-->
<script type="text/javascript" src="/media_rsc/js/freebase.js"></script>
<script src="/media_rsc/js/helper.js"></script>
<script src="/media_rsc/js/user_detail.js"></script>

{% endblock %}
