{% extends "base.html" %}

{% block css %}
<link type="text/css" href="/media_rsc/js/jquery/css/redmond/jquery-ui-1.8.4.custom.css" rel="stylesheet" /> 
<link rel="stylesheet" href="/media_rsc/css/create_toolbox.css" type="text/css" media="screen,projection" />
<link rel="stylesheet" href="/media_rsc/css/user_detail.css" type="text/css" media="screen,projection" />
<link rel="stylesheet" href="/media_rsc/css/toolbox.css" type="text/css" media="screen,projection" />
{% endblock %}

{% block title %}{{userProfile.user.username}}'s Profile{% endblock %}

{% block content %}
<div id="main2" class="span-24 last">
   {{message}}
   <div id="userInfoModule" class="span-7 colborder">
    <div id="userPicture">
    	{% if userProfile.picture_url %}
        <img src="{{ userProfile.picture_url }}"/>
      {% else %}
			  <img class="blank-avatar" src="/media_rsc/images/avatar.png"/>
			{% endif %}
    </div
	<div class="title editButton">TAGS 
    <a class="editButton" href="/colorific/edit_user"><img src="/media_rsc/images/icons_tiny/pencilangled.png"/> EDIT TAGS</a>
  </div>
  <div id="toolBoxModuleBig" class="tool">
    	{% for tag in userProfile.tags.all %}
      <a href="#">{{tag.name}}</a>
      {% endfor %}
  </div>

	<div class="title">ABOUT</div>
	<div id="toolBoxModuleBig" class="content">
		My home and work setups are identical: early-2008 octocore Mac Pros, each with two 24" Dell monitors, 6 GB of RAM, two-disk software RAID-0 with a third disk as an internal Time Machine, the Microsoft Natural Ergonomic Keyboard 4000, and the Magic Mouse.

    At work, I sit in an Aeron at an electrically height-adjustable desk so I can stand when I feel like it. Fog Creek generously showed us theirs and we ordered the same ones. At home, I sit in an Embody at a Galant.
  </div>
    <div class="title">SIMILAR PEOPLE</div>
    <div id="toolBoxModuleBig" class="content">
        <img src="/media_rsc/images/12.jpg"/>
        <img src="/media_rsc/images/13.jpg"/>
        <img src="/media_rsc/images/14.png"/>
        <img src="/media_rsc/images/12.jpg"/>
    </div>
  </div>
  
  
  <div class="span-15 last">
    <div id="bigHeading">
        {{userProfile.user.first_name}} {{userProfile.user.last_name}}
    </div>  
    <div class="abutton">
        <a id="add_toolbox" href="#">+ Add toolbox</a>
    </div>
    <br/>
    {% include "display_toolboxes_tabular_nopicture.html" %}
	<div id="setup-pics" class="span-15 last">
		<div class="abutton">
            <a id="add_toolbox" href="#">+ Add Photo</a>
        </div>
        <img src="/media_rsc/images/1.jpg"/>
        <img src="/media_rsc/images/2.jpg"/>
    </div> 
  </div>
</div>



<div id="overlay"></div>
<div id="create-toolbox-inline" class="create-toolbox-inline span-10 last">
  <div id="create-toolbox-inline-header">
    <h2>&nbsp;Create a toolbox</h2>
  </div>
  <ul>
    <li> 
      <div>
        <label for="id_toolbox_name">
          ToolBox Name. <span class="form-helper"> {{ toolBoxForm.toolbox_name.help_text }}</span>
        </label>
      </div>
      {{ toolBoxForm.toolbox_name }}
    </li>
    <li>
      {% if toolBoxForm.toolbox_name.errors %}
        <span class="error">
          {{toolBoxForm.toolbox_name.errors|join:", " }}
        </span>
      {% endif %}
    </li>
    <li>
      <div>
        <label for="id_tools">
          Tools. <span class="form-helper"> {{ toolBoxForm.tools.help_text }}</span>
        </label>
      </div>
      <div class="ui-widget">
        {{ toolBoxForm.tools }} 
      </div> 
    </li>
    <li>
      {% if toolBoxForm.tools.errors %}
        <span class="error">
          {{toolBoxForm.tools.errors|join:", " }}
        </span>
      {% endif %}
    </li>
  </ul>
  <div class="toolbar">
    <input id="create-toolbox-inline-save" type="button" name="submit" value="Save" />
    <input id="create-toolbox-inline-close" type="button" name="submit" value="Close" />
    <input id="user-profile-id" type="hidden" value="{{userProfile.id}}" />
  </div>
</div>
<script src="/media_rsc/js/jquery/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/media_rsc/js/jquery/js/jquery-ui-1.8.4.custom.min.js"></script>
<script src="/media_rsc/js/user_detail.js"></script>
{% endblock %}
