.tag a{
    background-color: #E3E9FF;
    color: #19558D;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding:5px;
    margin-top:5px;
    margin-bottom:5px;
    white-space:nowrap;
    text-decoration:none;
    line-height:3.0;   
		font-size:14px;
}
.tag a:hover{
    color: #FFFFFF;
    background-color: #19558D;   
}