#people-cloud ul{
  width: 250px;
  list-style: none;
  padding: 0;
}

#people-cloud li{ 
  float: left;
  width: 6em;
  padding-top:10px;
}

#people-cloud{
  margin-right:100px;
}

#people-cloud-desc{
  clear:left;
}