<div class="clickable span-15 last"id="toolboxTab"  url="{{item.absolute_url}}">
          <div id="main" class="span-15 last">
          <div id="userPicture" class="span-2">
             {% if item.user.picture_thumbnail %}
               <img src="{{ item.user.picture_thumbnail }}"/>
             {% else %}
               <img src="/media_rsc/images/avatar_tiny.png"/>
             {% endif %}
             
          </div>
          <div id="tools" class="span-10">
              <h5>{{item.toolbox_name}}
             <span id="author"> 
              by <a href="{{item.user.absolute_url}}">{{item.user.user.username}}</a>
             </span>
	           </h5>
						  {% for toolrelation in item.toolboxtoolrelations %}
              {% if toolrelation.tool.tool_semantic_id %}
                 <li><a href="http://freebase.com/view{{toolrelation.tool.tool_semantic_id}}">{{toolrelation.tool.tool_name}}{% if not forloop.last %},{% endif %}</a></li>
              {% else %}
                 <li>{{toolrelation.tool.tool_name}}{% if not forloop.last %},{% endif %}</li>
              {% endif %}
                  
              {% empty %}
                  No Tools
              {% endfor %}
          </div>
  
          <div id="score" class="span-1">
                  <span id="scoreNumber">50</span>
                  <br/>
                  TIGS
          </div>
          <div id="thumbUp" class="span-1 last">
              <img src="/media_rsc/images/icons_small/arrowup.png"/>
          </div>
          
          </div>
          <div id="social-links" class="span-3 last">
            <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="webtoola" data-text="{{item.toolbox_name}} by {{item.user.user.username}}">Tweet</a>
            <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

          </div>
  
 </div>