{% block css %}
<link rel="stylesheet" href="/media_rsc/css/toolboxes_tabular_nopicture.css" type="text/css" media="screen,projection" />
{% endblock %}

<div id="toolboxes">
    {% for toolBox in toolboxes %}
    <div class="clickable span-15 last"id="toolboxTab"  url="{{toolBox.absolute_url}}">
        <div id="main" class="span-15 last">
            <div id="tools" class="span-12">
                <h5>{{toolBox.toolbox_name}}
                     <span id="author"> 
                       <a href="{{toolBox.user.absolute_url}}"> by {{toolBox.user.user.username}}</a>
                     </span>
                </h5>
								<ul>
                {% for toolrelation in toolBox.toolboxtoolrelations %}
									{% if toolrelation.tool.tool_semantic_id %}
		                 <li><a href="http://freebase.com/view{{toolrelation.tool.tool_semantic_id}}">{{toolrelation.tool.tool_name}}{% if not forloop.last %},{% endif %}</a></li>
		              {% else %}
		                 <li>{{toolrelation.tool.tool_name}}{% if not forloop.last %},{% endif %}</li>
		              {% endif %}
                {% empty %}
                No Tools
                {% endfor %}
								</ul>
            </div>

            <div id="score" class="span-1">
                    <span id="scoreNumber">50</span>
                    <br/>
                    TIGS
            </div>
            <div id="thumbUp" class="span-1 last">
                <img src="/media_rsc/images/icons_small/heart.png"/>
            </div>    
	    </div>
        <div id="bottom-links" class="span-15 last">
		      <div id="edit-links">
		        <a href="/colorific/edit_toolbox/{{toolBox.id }}">EDIT</a>
					  <a href="/colorific/delete_toolbox/{{toolBox.id }}">DELETE</a>
					</div>
					<div style="float:right">
			      <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="webtoola" data-text="{{toolBox.toolbox_name}} by {{toolBox.user.user.username}}">Tweet</a>
            <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
				</div>
        </div>
    
     </div>
     {% endfor %}    
</div>

{% block js %}
<script src="/media_rsc/js/jquery/js/jquery-1.4.2.min.js"></script>
<script>
    $("div.clickable").click(
    function()
    {
        window.location = $(this).attr("url");
    });
 </script> 
{% endblock %}
