{% block css %}
<link rel="stylesheet" href="/media_rsc/css/toolboxes_tabular_nopicture.css" type="text/css" media="screen,projection" />
{% endblock %}

<div id="toolboxes">
    {% for toolBox in toolboxes %}
    <div class="clickable span-12 last"id="toolboxTab"  url="{{toolBox.absolute_url}}">
        <div id="main" class="span-11 last">
            <div id="tools" class="span-9">
                <h5>{{toolBox.toolbox_name}}
                     <span id="author"> 
                       <a href="{{toolBox.user.absolute_public_url}}"> by {{toolBox.user.user.username}}</a>
                     </span>
                </h5>
								<ul>
                {% for toolrelation in toolBox.toolboxtoolrelations %}
                  <li><a href="http://freebase.com/view{{toolrelation.tool.tool_semantic_id}}">{{toolrelation.tool.tool_name}}{% if not forloop.last %},{% endif %}</a></li>
                {% empty %}
								No Tools
								{% endfor %}
								</ul>
            </div>

            <div id="score" class="span-1">
                    <span id="scoreNumber">50</span>
                    <br/>
                    TIGS
            </div>
            <div id="thumbUp" class="span-1 last">
                <img src="/media_rsc/images/icons_small/heart.png"/>
            </div>    
      </div>
      <div id="bottom-links" class="span-12 last">
	      <div style="float:right">
	              <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="xetup">Tweet</a>
	        <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	      </div>
      </div>
    
     </div>
		 {% empty %}
        No Toolboxes
     {% endfor %}    
</div>

{% block js %}
<script src="/media_rsc/js/jquery/js/jquery-1.4.2.min.js"></script>
<script>
    $("div.clickable").click(
    function()
    {
			  $(this).css('cursor', 'pointer');
        window.location = $(this).attr("url");
    });
 </script> 
{% endblock %}