{% block css %}
    <link rel="stylesheet" href="/media_rsc/css/toolbox.css" type="text/css" media="screen,projection" />
    <link rel="stylesheet" href="/media_rsc/css/edit_toolbox.css" type="text/css" media="screen,projection" />
{% endblock %}
 <div id="toolBoxModuleEdit" class="span-24 last">
 	<h1>{{toolBox.toolbox_name}}</h1>
        {% for tool in toolBox.tools.all %}   
		 	<div id="toolEntry" class="span-24">
		 		<div id="toolMeta" class="span-6">
		 			<h2>{{ tool.tool_name }}</h2>	
					<a href="/colorific/edit_tool/{{ tool.id }}">EDIT</a> <a href="/colorific/delete_tool/{{ tool.id }}">DELETE</a>		
		 		</div>
				<div id="toolNote" class="span-14 last">
					{{ tool.get_toolnote.content }}
				</div>
				<div id="toolNote" class="span-3 last">
                    {{ form.DELETE }}
                </div>
		 	</div>
		{% endfor %}
 </div>

</div> 