{% block css %}
<link rel="stylesheet" href="/media_rsc/css/toolboxes_tabular_picture.css" type="text/css" media="screen,projection" />
{% endblock %}

<div id="toolboxes">
  {% for item in items %} 
	   {% include "display_toolbox_tabular_picture.html" %}
	{% empty %}
      <p>No results found.</p>
  {% endfor %}
 
</div>

{% block js %}
<script src="/media_rsc/js/jquery/js/jquery-1.4.2.min.js"></script>
<script>
    $("div.clickable").click(
    function()
    {
        window.location = $(this).attr("url");
    });
 </script> 
{% endblock %}