<link rel="stylesheet" href="/Users/opozo/Desktop/blueprint/screen.css" type="text/css" media="screen, projection">
<style>
#toolboxTab{
	background-color: #ffffff;
	height: 80px;
	border-bottom: 1px solid #EEF0F3;
	border-top: 1px solid #EEF0F3;
	padding-top: 10px;
	font: 12px/150% "Lucida Grande","Lucida Sans Unicode",Verdana,"Jamrul",sans-serif
}

#toolboxTab:hover{
	background-color: #EEF0F3;
}

#toolboxTab h5{
	margin-bottom: 5px;
	font-size: 12px;
}

#userPicture{
	margin-left: 10px;
	margin-top:10px;
}
#score{
	text-align: center;
	font-size: 12px;
	color: #85898F;
	margin-top: 6px;
	padding-left: 40px;
}
#scoreNumber{
	font-size: 20px;
	color: #85898F;
}

#tools{
	margin-right: 0px;
}

#tools li{
	display: inline;
	padding-right: 5px;
}
#tools a{
	text-decoration: none;
}

#author{
	color: #85898F
}

#footer{
	margin-left:400px;
	color: #85898F
}
#thumbUp{
	float:right;
	margin-left:0px;
	padding-left:0px;
}
</style>
<body>


<div class="content">
	<div><br/><br/><br/></div>
	<div class="span-15 last"id="toolboxTab">
		<div id="main" class="span-15 last">
		<div id="userPicture" class="span-2">
			<img src="pic2.jpg"/>
		</div>
		<div id="tools" class="span-10">
			<h5>Django Hacking Setup <span id="author">by adeleinr</span></h5>
				<li><a href="">photoshop</a></li>
				<li><a href="">omnigraffle</a></li>
				<li><a href="">lightrooom</a></li>
				<li><a href="">inkscape</a></li>
				<li><a href="">photoshop</a></li>
				<li><a href="">omnigraffle</a></li>
				<li><a href="">lightrooom</a></li>
				<li><a href="">inkscape</a></li>
		</div>

		<div id="score" class="span-1">
				<span id="scoreNumber">50</span>
				<br/>
				TIGS
		</div>
		<div id="thumbUp" class="span-1 last">
			<img src="up.png"/>
		</div>
		
		</div>
		<div id="footer" class="span-15 last">
			Tweet
		</div>

	 </div>
	
	<div class="span-15 last"id="toolboxTab">
		<div id="main" class="span-15 last">
		<div id="userPicture" class="span-2">
			<img src="pic2.jpg"/>
		</div>
		<div id="tools" class="span-10">
			<h5>Django Hacking Setup <span id="author">by adeleinr</span></h5>
				<li><a href="">photoshop</a></li>
				<li><a href="">omnigraffle</a></li>
				<li><a href="">lightrooom</a></li>
				<li><a href="">inkscape</a></li>
				<li><a href="">photoshop</a></li>
				<li><a href="">omnigraffle</a></li>
				<li><a href="">lightrooom</a></li>
				<li><a href="">inkscape</a></li>
		</div>

		<div id="score" class="span-1">
				<span id="scoreNumber">50</span>
				<br/>
				TIGS
		</div>
		<div id="thumbUp" class="span-1 last">
			<img src="up.png"/>
		</div>
		
		</div>
		<div id="footer" class="span-15 last">
			Tweet
		</div>

	 </div>
</div>
